body {
    background: url(https://res.cloudinary.com/https-kieraniyer-dev-netlify-app/image/upload/v1631642000/Me/colorfulsky_uq6bat.jpg)
        no-repeat center center fixed;
    text-align: center;
    font-family: "Architects Daughter", cursive;
}

h1 {
    /* margin: 5rem; */
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #036be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    margin: 5rem;
    font-size: 1.8rem;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 500px;
    height: auto;
    border-radius: 5%;
}
ul {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    color: indigo;
}
form {
    text-align: center;
}

.upload,
input {
    font-size: 1.5rem;

    opacity: 0.7;
}
